.home-page-wrapper {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 1258px;
  border-radius: 4px;
  background-color: #ffffff;
}

/*top-section*/
.top-section {
  margin: 0 auto 102px;
  border: 73px auto;
  padding: 0 auto;
  border: 48px;

  a, h1 {
    text-decoration: none;
    color: #ffffff;
    font-family: Oswald;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.65px;
    line-height: normal;
    margin: 0;
    padding: 0;

  }

  p {
    color: #ffffff;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
  }
}

.row-1 {
  display: inline-flex;

  .box {
    width: 299px;
    height: 119px;
    border-radius: 4px;
    margin-top: 77px;
    margin-bottom: 3px;
    padding: auto;
    border: auto;
    background-color: #000000;
  }

  .order {
    background-image: url("../images/assets/order_box-1.jpg");
    background-size: 100%;
    background-position: 50% 50%;
    margin-right: 3px;
  }

  .book-table {
    background-image: url("../images/assets/book_box-2.jpg");
    background-size: 100%;
    background-position: 50% 50%;
    margin-left: 3px;
  }

}

.row-2 {
  display: flex;
  width: 604px;
  height: 120px;
  border-radius: 4px;
  margin-top: 3px;
  background-color: #ff6b6b;
  text-align: center;

  .opening-hours {
    margin: auto;
    align-items: center;
  }
}


/*carusel*/

/*gallery*/
.gallery-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  border: solid, red;
  margin: auto;
  //border-style: solid;
  //border-color: red;
  width: 604px;
  height: 398px;

  .img {
    flex: 0 0 33,3%;
    border-radius: 4px;
    background-color: red($color: #000000);
    position: relative;

    img {
      width: 193px;
      height: 193px;
    }

    .icon {
      position: absolute;
      z-index: 2;
      top: 45%;
      left: 45%;
      color: red;
      
      a {
        text-decoration: none;
        color: red;
      }
    }

    
  }
}
